<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <!-- sha256 hash is for the script in index.html to update the theme class -->
                <add
                    name="Content-Security-Policy"
                    value="
                        default-src 'self';
                        connect-src
                            'self'
                            *.REDACTED-CORP-DOMAIN-1.invalid
                            *.REDACTED-CORP-DOMAIN-2.invalid
                            *.REDACTED-CORP-DOMAIN-3.invalid
                            *.gstatic.com
                        ;
                        font-src
                            'self'
                            data:
                        ;
                        img-src
                            'self'
                            data:
                        ;
                        script-src
                            'self'
                            'sha256-7daDqN4VRQh0Jed62Nemj1b+0JoyPt9aRhwwK3+CGhk='
                        ;
                        style-src
                            'self'
                            'unsafe-inline'
                        ;
                    "
                />
                <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
            </customHeaders>
        </httpProtocol>
        <rewrite>
            <rules>
                <rule name="Angular Routes" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <!-- uncomment the below if the api is under the clientUrl -->
                        <!--<add input="{REQUEST_URI}" pattern="/{REPLACE WITH CLIENT URL}/api(/.*)?$" ignoreCase="true" matchType="Pattern" negate="true" />-->
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="./index.html" />
                </rule>
            </rules>
        </rewrite>
        <security>
            <authentication>
                <anonymousAuthentication enabled="true" userName="" />
            </authentication>
        </security>
        <staticContent>
            <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
        </staticContent>
    </system.webServer>
    <!-- Cache Images / Assets for a day-->
    <location path="assets">
        <system.webServer>
            <staticContent>
                <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
            </staticContent>
        </system.webServer>
    </location>
    <location path="favicon.ico">
        <system.webServer>
            <staticContent>
                <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
            </staticContent>
        </system.webServer>
    </location>
    <!-- Disable cache on non-hashed files -->
    <location path="firebase">
        <system.webServer>
            <httpProtocol>
                <customHeaders>
                    <add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
                    <add name="Expires" value="-1" />
                    <add name="Pragma" value="no-cache" />
                </customHeaders>
            </httpProtocol>
        </system.webServer>
    </location>
    <location path="index.html">
        <system.webServer>
            <httpProtocol>
                <customHeaders>
                    <add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
                    <add name="Expires" value="-1" />
                    <add name="Pragma" value="no-cache" />
                </customHeaders>
            </httpProtocol>
        </system.webServer>
    </location>
    <location path="manifest.webmanifest">
        <system.webServer>
            <httpProtocol>
                <customHeaders>
                    <add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
                    <add name="Expires" value="-1" />
                    <add name="Pragma" value="no-cache" />
                </customHeaders>
            </httpProtocol>
        </system.webServer>
    </location>
    <location path="ngsw-worker.js">
        <system.webServer>
            <httpProtocol>
                <customHeaders>
                    <add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
                    <add name="Expires" value="-1" />
                    <add name="Pragma" value="no-cache" />
                </customHeaders>
            </httpProtocol>
        </system.webServer>
    </location>
    <location path="ngsw.json">
        <system.webServer>
            <httpProtocol>
                <customHeaders>
                    <add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
                    <add name="Expires" value="-1" />
                    <add name="Pragma" value="no-cache" />
                </customHeaders>
            </httpProtocol>
        </system.webServer>
    </location>
    <location path="safety-worker.js">
        <system.webServer>
            <httpProtocol>
                <customHeaders>
                    <add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
                    <add name="Expires" value="-1" />
                    <add name="Pragma" value="no-cache" />
                </customHeaders>
            </httpProtocol>
        </system.webServer>
    </location>
    <location path="worker-basic.min.js">
        <system.webServer>
            <httpProtocol>
                <customHeaders>
                    <add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
                    <add name="Expires" value="-1" />
                    <add name="Pragma" value="no-cache" />
                </customHeaders>
            </httpProtocol>
        </system.webServer>
    </location>
</configuration>
