; begin auth token
registry=https://<SONATYPE-NPM-HOST>/repository/npm-org/
@fusion:registry=https://<SONATYPE-NPM-HOST>/repository/fusion-npm/
engine-strict=true
ignore-scripts=true
strict-ssl=false
; end auth token
